/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
header {
    height: var(--mh-sm);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;  
}

footer {
    padding: 30px;
}

/* nav {
    line-height: 30px;
    background-color: aquamarine;
    max-width: 1100px;
    margin: 0 auto;
} */

/* nav > div{
    padding: var(--nav-pd)
} */

/* span {
    margin: 0 5px;
} */

img {
    width: 100%;
}

/* Utilities */
main .container-lg {
    margin-top: 70px;
}

.row {
    min-height: 350px;
    background-color: cadetblue;
}

.column {
    flex-basis: calc(100% / 3 - 20px / 3);
    min-width: 280px;
    margin-bottom: 40px;
    border: 1px dashed blueviolet;
}

.card {
    min-height: var(--mh-xxl);
    position: relative;
}

.type-clothes {
    font-weight: 600;
    font-size: 18px;
}

.marked-down{
    font-weight: 600;
    color: red;
}

.list-price {
    margin-left: 10px;
    text-decoration: line-through;
}

.labels {
    position: absolute;
    left: 0;
    bottom: 120px;
}

.labels .discount,
.labels .sustainability {
    color: white;
    font-weight: 600;
    padding: 4px 6px;  
}

.discount{
    background-color: orangered;
}

.sustainability {
    background-color: green;
}

.favourite {
    font-size: 30px;
    padding: 5px 10px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.card img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.card img:nth-child(2):hover{
    opacity: 1;
}

.card img:nth-child(2):has(~ .labels:hover) {
    opacity: 1;
}